# All dependencies are now managed by vcpkg (vcpkg.json).
# There are no git submodules in this repository.
#
# To remove previously checked-out submodule directories, run:
#   git rm -r vendor/occt vendor/catch2 vendor/eigen
